/* main-title font size */
.main-title {
    font-size: 50px;
}

.booleaner {
    width: 200px;
}

.logo {
    background-image: url(../img/pattern.png);
    background-color: #00ccff;
    height: 180px;
}

.grigio-1 {
    color: #808080;
    font-size: 18px;
}

.grigio-2 {
    color: #808080;
    font-size: 14px;
}

.azzurro {
    color:#00ccff;
    font-size: 18px;
}

.photo-description {
    font-size: 12px;
}

.evidenziato {
    background-color: #ffff00;
}

.list {
    text-align: left;
}

.Lorem {
    text-align: left;
}

.Lorem1 {
    text-align: left;
    background-color: #00ccff6b;
}

.th {
    background-color: #00aeffc2;
    color: #ffffff;
    text-align: left;
}