/* main-title font size */
.main-title {
    font-size: 50px;
    padding: -50px;
    margin-bottom: -20px;
    margin-top: -1px;
}

/* Booleaner img */
.booleaner {
    width: 200px;
    padding-top: 120px;
}

/* Settaggi logo */
.logo {
    background-image: url(../img/pattern.png);
    background-color: #00ccff;
    height: 180px;
}

.grigio-1 {
    color: #808080;
    font-size: 18px;
}

.grigio-2 {
    color: #808080;
    font-size: 14px;
}

.azzurro {
    color: #00ccff;
    font-size: 18px;
}

/* Margini img principali */
.imgprincipale {
    margin-bottom: -15px;
}

.photo-description {
    font-size: 12px;
}

/* Evidenziazione */
.evidenziato {
    background-color: #ffff00;
}

.Lorem {
    text-align: left;
}

.Lorem1 {
    text-align: left;
    background-color: #00ccff6b;
}

/* Th della tabella */
.th {
    background-color: #00aeffc2;
    color: #ffffff;
    text-align: left;
    width: 15%;
}

/* Margini tabella disordinata */
ul {
    padding: 15px;
}

/* Bordi tabella  */
table {
    border-collapse: collapse;
}

.h3 {
    color: #808080;
    font-weight: 600;
}

/* Settaggio foto con monitor */
.foto-monitor {
    background-image: url(../CSS/img/monitor.jpg);
    height: 200px;
    font-weight: 600;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 20px;
}

/* Settaggio foto con grafico */
.foto-graph {
    background-image: url(../CSS/img/monitor.jpg);
    height: 200px;
    font-weight: 600;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1800px;
    margin: auto;
    padding: 100px;
}
